*{
	border: none;
	margin: none;
	box-sizing: border-box;
}
/*body,article,h2,p*/

body{
	background: rgb(170,20,220);
}

.card{
	display: grid;
	grid-template-columns: 50%;
	grid-template-rows: 20%;
	background:sandybrown;
	color:white;
	border: 2px solid white;
	
}
